.nav {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0px 3px rgba(100, 100, 110, 0.2);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  .nav_contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .content_front {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      left: 3.35%;

      .logo {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo_image {
          width: 50px;
          height: 50px;
          cursor: pointer;
          margin: 0 20px 0 0;
          background-color: rgb(92, 90, 211);
          border-radius: 50%;
        }

        .title {
          font-size: 24px;
          font-weight: 400;
          color: rgb(22, 22, 22);
        }
      }

      .nav_items {
        position: relative;
        left: 15%;
        width: fit-content;
        height: fit-content;
        align-items: center;
        position: relative;

        .nav_item {
          text-decoration: none;
          color: rgb(20, 20, 20);
          font-size: 20px;
          font-weight: 200;
          margin: 0 40px 0 1.8vw;
          cursor: pointer;
        }
      }
    }
    .logout_btn {
      text-decoration: none;
      border: none;
      outline: none;
      border-radius: 3px;
      background-color: rgb(228, 228, 228);
      box-shadow: 0px 0px 1px rgba(49, 49, 54, 0.144);
      color: rgb(12, 12, 12);
      font-size: 15px;
      font-weight: 300;
      margin: 0 3.35%;
      padding: 8px 17px 8px 17px;
      cursor: pointer;
    }
    .logout_btn:hover {
      background-color: rgb(216, 216, 216);
    }
    .logout_btn:active {
      transform: scale(0.98);
      box-shadow: none;
    }
  }
}
